* {
    box-sizing: border-box;
  }

  img {
    margin: 5px;
    border-radius: 60%;
  }
    
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: #a29c9b;
    padding: 80px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: white;
  }
  
  nav {
    float: left;
    width: 30%;
    height: 300px; 
    background: #FFFFFF;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    font-family: 'Playfair Display', serif;
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #FFFFFF;
    height: 300px; 
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }